@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body{
    font-family: 'Poppins', sans-serif;
}
  
.navbar {
    color: #0081C9;
}

.navbar-brand{
    color: #f5f5f5;
    font-weight: 700;
}

.nav-link {
    text-align: center;
    color: #f5f5f5;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #f5f5f5;
    font-weight: 600;
}


.bg-primary{
    color: #0081C9;
}

section.hero {
    position: relative;
	display: flex;
	align-items: center;
    font-family: 'Poppins', sans-serif;
}

.h1-primary {
    font-family: 'Poppins', sans-serif;
    color: #0081C9;
}

section.hero img {
    width: 400px;
    height: 400px;
    margin-right: 80px;
}

section.hero .hero-description {
	flex: 1;
    font-family: 'Poppins', sans-serif;
}

section.hero h1 {
    font-family: 'Poppins', sans-serif;
	font-size: 48px;
	margin-left: 100px;
	margin-top: 200;
}

section.hero p {
    font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin-left: 100px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.tengah-primary {
    font-family: 'Poppins', sans-serif;
    color: #0081C9;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .section-hero .hero-description {
        font-size: 16px;
        line-height: 1.3;
    }

    section.hero h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        text-align: center;
    }

    section.hero p {
        font-size: 8px;
        text-align: center;
    }

    .img-fluid {
        width: 100px;
        height: 100px;
    }
    
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 350px;
    text-align: center;
    position: relative;
}

.card img {
    height: 150px;
    width: 150px;
    object-fit: contain;
    margin-left: 23px;
    margin-bottom: 20px;
}

.card h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}
