@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
}

.nav{
    align-items: center;
}
  
.navbar {
    color: #f5f5f5;
}

.navbar-brand{
    color: #f5f5f5;
    font-weight: 700;
}
  
.nav-link {
    text-align: center;
    color: #f5f5f5;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #f5f5f5;
    font-weight: 600;
}
  
.bg-primary{
    color: #0081C9;
}

.container-fluid {
    padding: 20px;
}

img {
    max-width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}