*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  color: #334155;
}

nav{
  align-items: center;
}

.navbar-brand{
  color: #f5f5f5;
  font-weight: 700;
}

.nav-link {
  color: #f5f5f5;
  text-align: center;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #f5f5f5;
  font-weight: 600;
}

.bg-primary{
  color: #0081C9;
}

/* .title-page{
  color: #334155;
} */